@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.music__player{
    width: 400px;
    padding: 20px 35px;
    background: #ffe0e5;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    color: #f53192;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.song__img{
    width: 200px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0px 10px 60px rgba(255, 26, 26, 0.22);
}

.music__player h1{
    color: #333;
    font-weight: 500;
    font-size: 20px;    
    margin-top: 20px;
}

.music__player p{
    font-size: 14px;
    color: #333;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}   

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #f53192;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.music__player .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 15px;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f53192;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);    
}

.controls div:nth-child(2){
    transform: scale(1.5);
    color: #fff;
    background: #f53192;
}